DATABASE_URL="postgresql://postgres:[YOUR-PASSWORD]@db.mtyouhpigpohzjifhdxz.supabase.co:5432/postgres?schema=treatfeedtails"
DIRECT_URL="postgresql://postgres:[YOUR-PASSWORD]@db.mtyouhpigpohzjifhdxz.supabase.co:5432/postgres?schema=treatfeedtails"